.my-message {
    position: relative;
    min-height: 30px;
    margin-left: 20px;
}
.my-message::after {
    content: '';
    position: absolute;
    right: -25px;
    top: 10px;
    border: 10px solid transparent;
    border-left: 20px solid #ffffff;
}

.not-my-message {
    position: relative;
    min-height: 30px;
    margin-right: 20px;
}
.not-my-message::after {
    content: '';
    position: absolute;
    left: -25px;
    top: 10px;
    border: 10px solid transparent;
    border-right: 20px solid #ffffff
}