@import "../node_modules/bootstrap/scss/bootstrap";
@import "./components/UserCard/UserCard.module";
@import "./components/InputEnterGroup/InputEnterGroup.module";
@import "./components/Chat/Message/Message.module";
@import "./components/Chat/Chat.module";
@import "components/Layout/Layout.module";

.bg-froggy{
  background-color: #8FAB5F;
}
.bg-froggy-dark{
  background-color: #3F4D4E;
}
.bg-water{
  background-image: url('public/BackgoundWater.png');
}
.bg-candy{
  background: linear-gradient(0deg, rgba(255,209,194,1) 0%, rgba(244,206,149,1) 38%, rgba(255,251,152,1) 100%);
}
